/* Button */
.addbuttonprimary,
.addbutton {
    vertical-align: bottom;
    opacity: 0.6;
    border-width: 0;
    width: 23px;
    height: 23px;
    left: 6px;
    bottom: 6px;
    border-radius: 5px;
    background: #ff5f5f;
    padding: 0;
    position: absolute;
    z-index: 1;
}


.addbuttonprimary {
    position: initial;
    align-self: center;
    width: 28px;
    height: 28px;
    left: 0;
    margin-left: 8px;
    margin-bottom: 6px;
}

.addbuttonprimary:focus,
.addbutton:focus {
    outline: 0;
}
.addbuttonprimary:hover,
.addbutton:hover {
    opacity: 1;
}

/* Side nav */
#mySidenav a {
  position: fixed;
  cursor: pointer;
  bottom: -3px;
  right: 20px;
  transition: 0.2s;
  z-index: 1;
  padding: 15px;
  width: 24px;
  text-decoration: none;
  font-size: 20px;
  overflow-x: hidden;
  color: white;
  border-radius: 5px 5px 0 0;
}

#mySidenav a:hover {
  bottom: 0;
}

#about {
  right: 20px;
  background-color: #ff5f5f;
}