/* Button */
.addbuttonprimary,
.addbutton {
    vertical-align: bottom;
    opacity: 0.7;
    border-width: 0;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 6px;
    background: #ff5f5f;
    border: solid 5px #ff5f5f;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.addbuttonprimary {
    opacity: 0.8;
    position: initial;
    align-self: center;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    border-width: 6px;
    left: 0;
    margin-left: 8px;
    margin-bottom: 6px;
}

.addbuttonprimary:focus,
.addbutton:focus {
    outline: 0;
}
.addbutton:hover {
    opacity: 1;
}


/* Bottom menu */
#bottomMenu a {
  position: fixed;
  cursor: pointer;
  bottom: -3px;
  transition: 0.2s;
  z-index: 1;
  padding: 15px;
  width: 24px;
  height: 30px;
  text-decoration: none;
  font-size: 17pt;
  overflow-x: hidden;
  border-radius: 5px 5px 0 0;
  z-index: 3000;
  user-select: none;
}

#bottomMenu a:hover {
  bottom: 0;
}

#bottomMenu a img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

#next {
  right: 20px;
  background-color: #ff5f5f;
}
#pip {
  right: 140px;
  background-color: pink;
}

#here {
  right: 80px;
  background-color: firebrick;
  font-weight: bolder;
  text-align: center;
  color: black;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 10px; /* 30px from the bottom */
  font-size: 10pt;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 10px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 10px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}