body {
    width: 300px;
    overflow: hidden;
    margin: 0;
    background: white;
}

/*Empty Header*/
h2.empty {
    font-size: 20pt;
    text-shadow: -3px 3px 0px #FF00DCFF,
        -6px 6px 0px #01cccc,
        -9px 9px 0px #00FF39FF;
    user-select: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

/* Queue (also searchresults)*/
ul.queue {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    background: grey;
}

.queuerow {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table;
    border-radius: 6px;
}

.deletebtn,
.videobtn,
.searchobj {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 5px;
    cursor: pointer;
    color: #444;
    margin: 0;
    padding: 4px;
    display: table-cell;
}

.deletebtn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 25px;
}

.videobtn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.deletebtn:hover {
    background-color: #DF4F1FFF !important;
}

.deletebtn:hover+.videobtn {
    background-color: #DF4F1FFF;
    color: white;
}

.videobtn:hover {
    background-color: #7FFF8E;
    color: white;
}

.searchobj {
    display: block;
}

.searchobj:hover {
    background-color: #7FFF8E;
    color: white;
}

/* Buttons controlling the queue */
img.next {
    transform: translateX(-0.15em);
    transition: transform 0.1s;
    user-select: none;
}

img.next:hover {
    transform: translateX(0.15em);
    transition: transform 0.1s;
}

.trash {
    background: #000;
    width: 66px;
    height: 80px;
    display: inline-block;
    margin: 0 auto;
    transform: scale(0.3);
    position: relative;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.trash:after {
    position: absolute;
    left: -99px;
    right: 0;
    bottom: -50px;
    width: 300px;
}

.trash span {
    position: absolute;
    height: 12px;
    background: #000;
    top: -19px;
    left: -10px;
    right: -10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
}

.trash span:after {
    content: '';
    position: absolute;
    width: 27px;
    height: 7px;
    background: #000;
    top: -10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
    left: 27px;
}

.trash i {
    position: relative;
    width: 5px;
    height: 50px;
    background: #fff;
    display: block;
    margin: 14px auto;
    border-radius: 5px;
}

.trash i:after {
    content: '';
    width: 5px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: -18px;
    border-radius: 5px;
}

.trash i:before {
    content: '';
    width: 5px;
    height: 50px;
    background: #fff;
    position: absolute;
    right: -18px;
    border-radius: 5px;
}

.trash:hover span {
    transform: rotate(-45deg);
    transition: transform 250ms;
}

/* Search and Chat inputbars*/
.input_container {
    display: block;
    text-align: center;
    min-height: 25px;
    padding-bottom: 5px;
}

.awsome_input,
.awesome_chatinput {
    font-size: 12pt;
    font-weight: bold;
    color: grey;
    border: none;
    background: transparent;
    text-align: center;
    width: 75%;
    transition: all ease-in-out .15s;
}

.awesome_chatinput {
    color: black;
}

.awsome_input {
    margin-bottom: 5px;
}

.awsome_input:focus,
.awsome_input:active {
    outline: none;
    color: black;
    background: #F2F2F2;
    transform: scale(1.33);
}

.awesome_chatinput:active,
.awesome_chatinput:focus {
    outline: none;
    color: black;
    font-size: 14pt;
}

/* Chatbutton that maximizes and minimizes the chat */
.chatbutton {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    border: 0;
    transition: all 0.15s;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    margin-bottom: 4px;
}

.chatbutton:focus {
    outline: 0;
    color: #DDDDDD;
}

.chatbutton:hover {
    background: #DDDDDD;
}


.chatlink {
    color: #23A6A8FF;
    cursor: pointer;
}

img.clickrotate {
    user-select: none;
    transition-duration: 0.2s;
    transition-property: transform;
}

/* Chat extras */
.chatlinkparent {
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatlinkparent:hover {
    white-space: initial;
}

/* The music button next to the chat */
.astext {
    background: none;
    border: 1px;
    margin: 0;
    padding: 0;
    padding-right: 6px;
    cursor: pointer;
    user-select: none;
    transform: scale(1);
    transition: transform 0.1s;
}

.astext:hover {
    transform: scale(1.5);
    transition: transform 0.1s;
}

.astext:focus {
    outline: 0;
}